################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C# Projekt/C# Projekt/obj
/C# Projekt/.vs/C# Projekt
/.vs
